{% extends 'base.html' %}


{% block content %}


<style type="text/css">
	.detail-post{
       margin-top: 30px;
    }
    .detail-post img {
    width:100%;
    height: 400px;
}
	
</style>

<div class="container">
	<div class="row">
        <!-- Post Content Column -->
      <div class="detail-post col-lg-12 shadow p-3 mb-5 bg-white rounded">

        <!-- Title -->
        <h1 class="mt-4">{{blog_post.title}}</h1>
        <!-- Author -->
        <p>Published by <a class="lead" href="#">{{blog_post.author.username}}</a> | Posted on {{blog_post.date_published}}</p>
        <hr>
        <!-- Preview Image -->
        <img class="img-fluid shadow rounded" src="{{blog_post.image.url}}" alt="">
        <hr>
        <p>
            {{blog_post.content|safe}}
        </p>
        <hr>

      </div>
    </div>
</div>

	

{% endblock content %}